#portfolio{
    background: var(--portfolio-bg);
    background-size: 500px;
    background-position:right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-radius: 10% 30% 50% 70%;
}
.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item {
    background: var(--bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: var(--hover);
    backdrop-filter: blur(10px);
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    height: 30%;
}

.portfolio__item h3 {
    margin: 2rem 0;
}

.portfolio__item p {
    margin: 0 0 1.2rem 0;
    font-size: 0.9rem;
}

.portfolio__item-header__button {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem; 
}

.portfolio__item-content {
    height: 40%;
    margin-bottom: .4rem;
}
.portfolio__item-header__button .btn.disabled {
    pointer-events: none; 
  }
  
@media screen and (max-width: 1024px){
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
    .portfolio__item p{
        font-size: 80%;
        margin: 0 0 .8rem 0;        
    }
}
  
@media screen and (max-width: 600px){
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .portfolio__item p{
        font-size: 100%;
        margin: 0 0 1.2rem 0;        
    }
}